{% extends "base.html" %}

{% block title %}Reset Password{% endblock %}

{% block content %}
<style type="text/css">
#pass_form{
	color:red;
	margin-left: 40%;
}
</style>

<div id = "pass_form">
<p style = "margin-top: 100px;" ><strong>Password Change Form.</strong></p>

<form action="" method="post">
    <div style="display:none">
        <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
    </div>
     {{ form.as_p }}
	 <input type="submit" value="Reset password" />
    
</form>
</div>
{% endblock %}