{% load static from staticfiles  %}
	{% load staticfiles %}
<link type="text/css" rel="stylesheet" href="{% static "TMS_header.css" %}"/>
<script>
function ajaxRequest()
{
"use strict";
 return new XMLHttpRequest();
}
function delttc(ID)
{
var r=confirm("Are you sure?");
var course = parent.document.getElementById('course').value;
if (r==true) {
var ajaxReq = ajaxRequest();
ajaxReq.onreadystatechange = function(){  
if(ajaxReq.readyState === 4 && ajaxReq.status === 200)
			{
				alert(ajaxReq.responseText);
				iframe = parent.document.getElementById('iframe1');
				iframe.src = iframe.src;
				window.location = window.location;
			}
}
ajaxReq.open("GET", "../delttc?empid=" + ID +"&course=" + course ,true);
ajaxReq.send();
}
}
</script>
<div class="added">
<table> 
<tr>
	<th>Employee ID</th>
	<th>Employee Name </th>
	
	<th>Employee Login Name </th>
	<th> Remove </th>
</tr>
{% for item in list %}
<tr>
	<td>{{item.userId}}</td>
	<td>{{item.user.first_name}}  {{item.user.last_name}} </td>
	<td>{{item.user.username}}</td>

	<td> <input type = "button"  value = "Remove" onclick = "delttc('{{item.id}}')" > </td>

</tr>
{% endfor %}
</table>
</div>
