
<script>
function ajaxRequest()
{
"use strict";
 return new XMLHttpRequest();
}
function assttc(ID)
{
var r=confirm("Are you sure?");
if (r==true) {


var ajaxReq = ajaxRequest();
ajaxReq.onreadystatechange = function(){  
if(ajaxReq.readyState === 4 && ajaxReq.status === 200)
			{
				alert(ajaxReq.responseText);
				iframe2 = parent.document.getElementById('iframe2');
				iframe2.src = iframe2.src;
				window.location = window.location;
			}
}
var courseid = parent.document.getElementById('course').value;
ajaxReq.open("GET", "../assttc?id=" + ID + "&course=" + courseid,true);
ajaxReq.send();
}
}
</script>
<div class="added">
<table id = "table"> 
<tr>
	<th>Employee ID</th>
	<th>Employee Name </th>
	
	<th>Employee Login Name </th>
	<th> Add as Trainer </th>
</tr>
{% for item in list %}
<tr id = "{{item.id}}" >
	<td>{{item.userId}}</td>
	<td>{{item.userObj.first_name}}  {{item.userObj.last_name}} </td>
	<td>{{item.userObj.username}}</td>

	<td> <input type = "button"  value = "Add" onclick = "assttc('{{item.id}}')" > </td>

</tr>
{% endfor %}
</table>
</div>