{% extends "base.html" %}
{% block content %} 
	{% load static from staticfiles  %}
	{% load staticfiles %}
<script>
function func_admin( str ){
	var element = document.getElementById(str+'_list');
	if(element.style.display != "none"){
		document.getElementById(str + "_list").style.visibility="hidden"
		document.getElementById(str +"_list").style.display= "none"
	}
	else{
		document.getElementById(str +'_list').style.visibility="visible"
		document.getElementById(str +"_list").style.display= "block"
	}
}
</script>
<div class="notifications">
	<p> Notifications </p>
	<div class="notification_container">
		<p>
   <ul id="ticker">
   {% for notification in notifications %}
        <li id="notify">{{notification}}</li> 

	{% endfor %}
	</ul>
</p>
<p> <a href = "../../viewSchedule">View All Notifications </a> </p>
	</div>
</div>

<div class="mainbody">
<div id="welcome">
<p> Welcome Mr/Mrs.  {{first_name}}  {{last_name}} "{{request.user.get_profile.current_shift}}"</p>
<p> {{ deptName }} </p>
</div>
{% if Admin %}

	<div id = "row_head" onclick = "func_admin('eao')">
		<p> <a>EMPLOYEES AND ORGANIZATION</a></p>
	</div>
<div id = "eao_list" style = " display: none;" >
<div id = "row">
	<div id="names">
		<a href= ""> Worker </a>
	</div>
	<div >
		<a href = "../../registerUser?empType=registerEmployee"><img src = "{% static 'images/add.jpg' %}" width="80" height="30"></a>
	</div>
	<div >	
		<a href= "../../searchPage?w=True"><img src = "{% static 'images/edit.png' %}" width="40" height="30"></a>
	</div>
</div>

<div id = "row">
	<div id="names">
		<a href= ""> HOD </a>
	</div>
	<div>
		<a href = "../../registerUser?empType=registerHOD"><img src = "{% static 'images/add.jpg' %}" width="80" height="30"> </a>
	</div>
	<div>
		<a href= "../../searchPage?h=True"><img src = "{% static 'images/edit.png' %}" width="40" height="30"></a>
	</div>
</div>

<div id = "row">	
	<div id="names">	
		<a href= ""> Manager </a>
	</div>
	<div>
		<a href = "../../registerUser?empType=registerManager"><img src = "{% static 'images/add.jpg' %}" width="80" height="30"></a>
	</div>
	<div>
		<a href= "../../searchPage?m=True"><img src = "{% static 'images/edit.png' %}" width="40" height="30"></a>
	</div>		
</div>

<div id = "row">
	<div id="names">		
		<a href= ""> Admin </a>
	</div>
	<div>
		<a href = "../../registerUser?empType=registerAdmin"><img src = "{% static 'images/add.jpg' %}" width="80" height="30"></a>
	</div>
	<div>
		<a href= "../../searchPage?a=True"><img src = "{% static 'images/edit.png' %}" width="40" height="30"></a>
	</div>
</div>

<div id = "row">	
	<div id="names">	
		<a href= ""> Department </a>
	</div>
	<div>
		<a href = "../../createDepartment"><img src = "{% static 'images/add.jpg' %}" width="80" height="30"></a>
	</div>
	<div>
		<a href = "../../searchDept"><img src = "{% static 'images/edit.png' %}" width="40" height="30"></a>
	</div>	
</div>
</div>
<div id = "row_head" onclick = "func_admin('m')">
		<p> <a>MODULES</a></p>
	</div>
<div id = "m_list" style = " display: none;" >
<div id="row">
	<div id="names">	
		<a href = "../../searchCourse"> Modules </a>
	</div>
	<div>
		<a href = "../../createCourse"><img src = "{% static 'images/add.jpg' %}" width="80" height="30"></a>
	</div>
	<div>
		<a href = "../../searchCourse"><img src = "{% static 'images/edit.png' %}" width="40" height="30"></a>
	</div>
</div>

<div id="row">
	<div id="names">	
		<a href = "../../ttcMain"> Assign Trainers </a>
	</div>
	<div>
		<a href = "../../ttcMain" Class = "Download" style = "margin-left:110%;" >Assign</a>
	</div>
	<div>
	</div>
	
</div>

<div id="row">
	<div id="names">	
		<a href = "#"> Assign Employees </a>
	</div>
	<div>
		<a href = "../../maincea" class = "Download">Assign</a>
	</div>
	<div>
		<a href = "../../mcead" Class = "Upload" >View</a>
	</div>
</div>
<div id="row">
	<div id="names">	
		<a href = "#"> Batches </a>
	</div>
	<div>
		<a href = "../../assb"><img src = "{% static 'images/add.jpg' %}" width="80" height="30"></a>
	</div>
	<div>
		<a href = "../../essb"><img src = "{% static 'images/edit.png' %}" width="40" height="30"></a>
	</div>
</div>
</div>
<div id = "row_head" onclick = "func_admin('ad')">
		<p> <a>ANNUAL DOCUMENTS</a> </p>
</div>
<div id = "ad_list" style = " display: none;" >
<div id ="row">
	<div id="names">	
		<a href = "#"> Calendar </a>
	</div>
	<div>
		<a href = "../../getCalendarTemplate" class = "Download">Download</a>
	</div>
	<div>
		<a href = "../../viewCalendar" class = "Upload">View</a>
	</div>
</div>

<div id="row">
	<div id="names">	
		<a href = "#"> Indent </a>
	</div>
	<div>
		<a href = "../../indentGenerator" class = "Download" style = "margin-left: 110%;">Download</a>
	</div>
	
</div>
<div id="row">
	<div id="names">	
		<a href = "#"> Schedule </a>
	</div>
	<div>
		<a href = "../../viewSchedule" class = "Download" style = "margin-left: 110%;">Download</a>
	</div>
	
</div>

</div>

<div id = "row_head" onclick = "func_admin('msc')">
		<p> <a> MISCELLANEOUS</a> </p>
</div>
<div id = "msc_list" style = " display: none;" >
<div id="row">
	<div id="names">	
		<a href = "#"> Documents </a>
	</div>
	<div>
		<a href = "../../uploadFile" class = "Upload">Upload</a>
	</div>
	<div>
		<a href = "../../searchFiles" class = "Download">Downloads</a>
	</div>

</div>	
<div id="row">
	<div id="names">	
		<a href = "#"> Employee List Reader</a>
	</div>
	<div>
		<a href = "../../employeeListReader" class = "Upload"> Upload </a>
	</div>
	<div>
		<a href = "../../employeeListTemplate" class = "Download">Download</a>
	</div>

</div>	
</div>
<div id = "row_head">
		<p> <a href= "../../searchPage" > SEARCH EMPLOYEES </a> </p>
	</div>
 {% endif %}


 
{% if Manager %}

<div id = "row_head">
		<p> <a href= "../../searchPage" > EMPLOYEES </a> AND ORGANIZATION</p>
	</div>
<div id = "row">
	<div id="names">
		<a href= ""> Worker </a>
	</div>
	<div >
		<a href = "../../registerUser?empType=registerEmployee"><img src = "{% static 'images/add.jpg' %}" width="80" height="30"></a>
	</div>
	<div >	
		<a href = "../../modifyEmployee"><img src = "{% static 'images/edit.png' %}" width="40" height="30"></a>
	</div>
</div>

<div id = "row_head">
		<p> MODULES</p>
	</div>

<div id="row">
	<div id="names">	
		<a href = "#"> Trainers </a>
	</div>
	<div>
		<a href = "../../assignTTC"><img src = "{% static 'images/add.jpg' %}" width="85" height="30"></a>
	</div>
	<div>
		 <a href = "../../removeTFC"><img src = "{% static 'images/edit.png' %}" width="85" height="30"></a>
	</div>
	<div>
	</div>
	
</div>
<div id = "row_head">
		<p> ANNUAL DOCUMENTS </p>
	</div>
<div id="row">
	<div id="names">	
		<a href = "#"> Calendar </a>
	</div>

	<div>
		<a href = "../../modifyCalendar" class = "Download"><img src = "{% static 'images/change.png' %}" width="85" height="30"></a>
	</div>
	<div>
		<a href = "../../viewCalendar" class = "Upload">View</a>
	</div>
	<div>
	</div>
</div>

<div id="row">
	<div id="names">	
		<a href = "#"> Indent </a>
	</div>
	<div>
		<a href = "../../generateTI"><img style = "margin-left:100%;" src = "{% static 'images/add.jpg' %}" width="80" height="30"></a>
	</div>
</div>
<div id="row">
	<div id="names">	
		<a href = "#"> All Documents </a>
	</div>
	<div>
		<a href = "../../uploadFile"><img src = "{% static 'images/add.jpg' %}" width="80" height="30"></a>
	</div>
	<div>
		<a href = "../../searchFiles"><img src = "{% static 'images/edit.png' %}" width="40" height="30"></a>
	</div>

</div>	

<div id = "row_head">
		<p> <a href= "../../searchPage" > SEARCH EMPLOYEES </a> </p>
	</div>
{% endif %}





{% if Employee %}

<div id = "row_head">
		<a href = "../../viewCalendar"><p> View My Calendar </p></a>
	</div>

{% endif %}
{% if HOD %}

<div id = "row_head" onclick = "func_admin('eaoh')">
		<p> EMPLOYEES AND ORGANIZATION</p>
	</div>
<div id = "eaoh_list" style = " display: none;" >
<div id = "row">
	<div id="names">
		<a href= ""> Worker </a>
	</div>
	<div >
		<a href = "../../registerUser?empType=registerEmployee"><img src = "{% static 'images/add.jpg' %}" width="80" height="30"></a>
	</div>
	<div >	
		<a href= "../../searchPage?w=True"><img src = "{% static 'images/edit.png' %}" width="40" height="30"></a>
	</div>
</div>

<div id = "row">	
	<div id="names">	
		<a href= ""> Manager </a>
	</div>
	<div>
		<a href = "../../registerUser?empType=registerManager"><img src = "{% static 'images/add.jpg' %}" width="80" height="30"></a>
	</div>
	<div>
		<a href= "../../searchPage?w=True"><img src = "{% static 'images/edit.png' %}" width="40" height="30"></a>
	</div>		
</div>
</div>

<div id = "row_head" onclick = "func_admin('mh')">
		<p> MODULES</p>
	</div>
<div id = "mh_list" style = " display: none;" >
<div id="row">
	<div id="names">	
		<a href = "../../searchCourse"> Modules </a>
	</div>
	<div>
		<a href = "../../createCourse"><img src = "{% static 'images/add.jpg' %}" width="80" height="30"></a>
	</div>
	<div>
		<a href = "../../searchCourse"><img src = "{% static 'images/edit.png' %}" width="40" height="30"></a>
	</div>
</div>

<div id="row">
	<div id="names">	
		<a href = "../../ttcMain"> Trainers </a>
	</div>
	<div>
		<a href = "../../ttcMain"><img style = "margin-left : 100px;"src = "{% static 'images/change.png' %}" width="85" height="30"></a>
	</div>
	<div>
	</div>
	
</div>

<div id="row">
	<div id="names">	
		<a href = "#"> Assign Employees </a>
	</div>
	<div>
		<a href = "../../maincea" class = "Download">Assign</a>
	</div>
	<div>
		<a href = "../../mcead" Class = "Upload" >View</a>
	</div>
</div>

<div id="row">
	<div id="names">	
		<a href = "#"> Batches </a>
	</div>
	<div>
		<a href = "../../assb"><img src = "{% static 'images/add.jpg' %}" width="80" height="30"></a>
	</div>
	<div>
		<a href = "../../essb"><img src = "{% static 'images/edit.png' %}" width="40" height="30"></a>
	</div>
</div>
</div>

<div id = "row_head">
		<p> <a href= "../../searchPage" > Search Employees </a> </p>
	</div>


{% endif %}



 </div>
{% endblock %}