{% extends "base.html" %}
{% block content %}
<div id= "emp_ass" style = "float:left; margin: 10%; margin-top:5%; color:red;">
<h2> Employees Assigned </h2>
<table> 
<tr>
	<th>Employee ID</th>
	<th>Employee Name </th>
</tr>
{% for employee in employees %}
<tr>
	<td>{{employee.userId}}</td>
	<td>{{employee.user.first_name}} {{employee.user.last_name}} </td>

</tr>
{% endfor %}
</table>
</div>
<div id = "train_ass" style = "float:left; margin: 10%;  margin-top:5%; color:red;">
<h2> Trainers Assigned </h2>
<table > 
<tr>
	<th>Trainer ID</th>
	<th>Trainer Name </th>
</tr>
{% for employee in trainers %}
<tr>
	<td>{{employee.userId}}</td>
	<td>{{employee.user.first_name}} {{employee.user.last_name}} </td>

</tr>
{% endfor %}
</table>
</div>
{% endblock %}