{% extends "base.html" %}
{% block content %}
<div class="added">
<table> 
<tr>
	<th>Module Name</th>
	<th>Module ID </th>
	<th>Module Duration </th>
	<th>Module Objective </th>
	<th>Misc. Details </th>
	<th>Department </th>
</tr>
<tr>
	<td>{{course.course_name}}</td>
	<td>{{course.course_id}}</td>
	<td>{{course.duration}}</td>
	<td>{{course.objective}}</td>
	<td>{{course.misc_Details}}</td>
	<td>{% for department in course.department.all %}
	{{department.dept_name}},
	{% endfor %}</td>
</tr>
</table>
<p> Course Successfully Registered  . </p>
<p> <a href = "../../../loggedin"> Go Back </a> </p>
</div>
{% endblock %}