{% extends "base.html" %}
{% block content %}
<script>
function ajaxRequest()
{
"use strict";
 return new XMLHttpRequest();
}
function editCourse(courseID)
{
window.location = "../../editCourse?course_id=" + courseID;


}
function createBatches(courseID)
{
var number = document.getElementById(courseID).value;
window.location = "../../createBatches?courseid=" + courseID + "&num=" + number;


}
function deleteCourse(courseID)
{
var ajaxReq = ajaxRequest();
ajaxReq.onreadystatechange = function(){  
if(ajaxReq.readyState === 4 && ajaxReq.status === 200)
			{
				alert(ajaxReq.responseText);
				window.location = window.location;
			}
}
ajaxReq.open("GET", "../delCourse?course_id=" + courseID,true);
ajaxReq.send();
}
</script>
<div class="added">
<table> 
<tr>
	<th>Module Name</th>
	<th>Module ID </th>
	<th>Department </th>
	<th>Edit Module </th>
	<th> Delete Module </th>
	<th>No. Of Employees</th>
	<th>No. Of Trainers </th>
	<th> Duration </th>
	<th> See Full Lists </th>
	<th> No. Of Batches</th>
	<th> Create Batches</th>
</tr>
{% for item in list %}
<tr>
	<td>{{item.course.course_name}}</td>
	<td>{{item.course.course_id}}</td>
	<td>{% for dept in item.course.department.all %}
	{{dept.dept_name}}
	{% endfor %}
	</td>
	<td> <input type = "button"  value = "Edit" onclick = "editCourse('{{item.course.course_id}}')" > </td>
	<td><input type = "button"  value = "Delete" onclick = "deleteCourse('{{item.course.course_id}}')" > </td>
		<td><a href = "../../cead?id={{item.course.id}}"> {{item.np}} </a></td>
	<td>{{item.nt}}</td>
	<td>{{item.course.duration}}</td>
	
	<td><input type= "text" id = "{{item.course.id}}"  > </td>
	<td><input type = "button"  value = "batches" onclick = "createBatches('{{item.course.id}}')" ></td>

</tr>
{% endfor %}
</table>
<p> <a href = "../../../loggedin"> Go Back </a> </p>
</div>
{% endblock %}