{% extends "base.html" %}
{% block content %}
<script  >
function ajaxRequest()
{
 return new XMLHttpRequest();
}
function submitSearch()
{
var ajaxReq = ajaxRequest();
ajaxReq.onreadystatechange = function(){
			if(ajaxReq.readyState === 4 && ajaxReq.status === 200)
			{
			alert("here inside");
				var ifrm = document.getElementById('searchFrame');
				ifrm.src = "/search?" + par1 + par2;
				alert("here again");


			}		
					};
var first_name = document.getElementById("first_name").value;
var last_name = document.getElementById("last_name").value;
var userId = document.getElementById("userId").value;
var username = document.getElementById("username").value;

var department = document.getElementById("department").value;
alert("Department");
alert(department);
var par1 = "username=" + username + "&userID=" + userId + "&first_name=" + first_name + "&last_name=" + last_name
var par2 = "&department=" + department;
var ifrm = document.getElementById('searchFrame');
ifrm.src = "/searchDE?" + par1 + par2;
//ajaxReq.open("GET", "/searchDE?" + par1 + par2 ,true);
//ajaxReq.send();

}
</script>
<p><br><br><br>
<h1><center><strong>Search Employees:</strong></center></h1>
</p>
<p>
<div id="empdetail">
<h3> Enter Employee Details: </h3>
First Name : <input type = "text" name = "first_name" id = "first_name" onchange="submitSearch()"/><br>
Last Name: <input type = "text" name = "last_name" id = "last_name"  onchange="submitSearch()"/><br>
Employee ID : <input type = "text" name = "userId" id = "userId"  onchange="submitSearch()"/><br>
User Login Name : <input type = "text" name = "username"  id = "username"onchange="submitSearch()"/><br>
<br>
</div>
<div id="emptype">
<h3> Select Department: </h3>
<select id = "department" class = "viewMenu" >
	  {% for dept in depts %}
      
	  <option value = "{{dept.deptID}}"  onclick = "submitSearch();"> {{dept.dept_name}} </option>
	  {% endfor %}
</select>
</p>
<p><input type = "button" value = " Search" onclick = "submitSearch()">
<br></p>
</div>

<iframe  src = "../../../searchDE"  width = "700px" height = "70%" frameborder="0" marginwidth="5px" id = "searchFrame">  Your Browser Does not support Iframe Upgrade your browser </iframe>

{% endblock %}