{% extends "base.html" %}
{% block content %}
<p> Employees Added </p>
<table>
 <tr>
	<th>	Employee Id </th>
	<th>	Employee Name </th>
	<th>	Department </th>
	<th>	Unit </th>
	<th>	Designation </th>
	<th>	Internal/External </th>
	<th>	Shift</th>
	<th>	Email </th>
	<th>	Phone Number </th>
	<th>	Address </th>
	<th>	Login ID </th>
	<th>	Administrator Status </th>
	<th>	HOD Status </th>
	<th>	Manager Status </th>
</tr>
{% for emp in employees %}
<tr>
	<td>	{{emp.userId}} </td>
	<td>	{{emp.user.first_name }}  {{emp.user.last_name }}</td>

	<td>	{{emp.department.dept_name}}</td>
	<td>	{{emp.unit}} </td>
	<td>	{{emp.designation}} </td>
	<td>	{{emp.is_Internal}} </td>
	<td>	{{emp.current_shift}} </td>
	<td>	{{emp.user.email}} </td>
	<td>	{{emp.phone_Number}} </td>
	<td>	{{emp.address}} </td>
	<td>	{{emp.user.username}} </td>
	<td>	{{emp.is_Admin}} </td>
	<td>	{{emp.is_HOD}} </td>
	<td>	{{emp.is_Manager}} </td>
	


</tr>
{% endfor %}
</table>

<p> Errors </p>
{% for error in errors %}
<p> {{error}} </p>
{% endfor %}
{% endblock %}