<!DOCTYPE html PUBLIC “-//W3C//DTD HTML 4.01 Transitional//EN”
“http://www.w3.org/TR/html4/loose.dtd”>

<html>
	<head>
	{% load static from staticfiles  %}
	{% load staticfiles %}
	<meta http-equiv=”Content-Type” content=”text/html; charset=ISO-8859-1”>
<title>
Triton Valves
</title>

<link type="text/css" rel="stylesheet" href="{% static "TMS_header.css" %}"/>
<style type="text/css">
#welcome{
	font-size: 16px;
	color: black;
}

</style>
</head>
<body>
<p>
<div class="header">
	
	<div id="options">
	<a class="option" href="" type="blank"> Option-1 </a>
	<a class="option" href="" type="blank"> Option-2 </a>
	<a class="option" href="" type="blank"> Option-3</a>
	<a class="option" href="" type="blank"> Option-4 </a>
	<a class="option" href="" type="blank"> Option-5</a>
	<a class="option" href = "../../logout" > Logout </a></div>	
			
	<div id= "tms">	Training Management System</div>
	
</div>
</p>

</body>
</html>